html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}

img {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 1024px;
}

main .header {
  position: relative;
  width: 100%;
  background-color: #4d76b5;
}

main .header .background {
  position: relative;
  width: 100%;
}

main .header .price {
  position: absolute;
  top: 870px;
  right: 140px;
}

main .header .price img {
  width: 310px;
}

main .text {
  position: relative;
  width: 60%;
  padding: 20px 0;
  text-align: center;
}

main .links a {
  font-family: "Archivo Narrow", sans-serif;
  display: block;
  font-size: 46px;
  line-height: 48px;
  color: #fff;
  text-decoration: none;
  padding: 12px 0px;

  border: 5px solid #088cd7;
  border-radius: 100px;
  background-color: #088cd7;

  transition: all 0.3s;

  margin: 15px;
}

main .links a:hover {
  border: 5px solid #088cd7;
  border-radius: 100px;
  background-color: #1b3f79;
}

main .links a:hover span .arrow {
  fill: #ffffff;
}

main .list {
  font-family: "Archivo Narrow", sans-serif;
  width: 70%;
  margin: 20px auto;
  display: none;
  text-align: justify;
}

main .list span {
  color: #088cd7;
  font-size: 25px;
  display: block;
  text-align-last: justify;
  margin-bottom: 16px;
}

main .list hr {
  border: none;
  height: 1px;
  background-color: #aaa;
  margin: 2px 0;
}

main .list hr:nth-of-type(2),
main .list hr:nth-of-type(4) {
  background-color: #088cd7;
}

main .list .restaurants {
  text-transform: uppercase;
  margin: 20px 0;
  font-size: 22px;
  line-height: 28px;
  display: block;
  text-align-last: left;
  color: #005aac;
}

main .list .restaurants a {
  text-decoration: none;
  color: #005aac;
}

.euros,
.suffisent {
  opacity: 0;
}

.anim1 {
  animation: scaleUp 0.8s ease-out 400ms forwards;
}

.anim2 {
  animation: FadeIn 0.5s ease-out 1.4s forwards;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1023px) {
  main .header {
    padding-bottom: 0;
  }

  main .header .background {
    margin-top: 0;
  }

  main .header .price {
    top: 60%;
    left: 60%;
  }

  main .header .price img {
    width: 250px;
  }

  main .text {
    width: 75%;
  }

  main .links a {
    font-size: 24px;
    line-height: 26px;
    padding: 4px 0px;
    margin: 5px;

    border: 3px solid #088cd7;
    border-radius: 30px;
  }

  main .links a span svg {
    width: 14px;
    height: 16px;
  }
  main .list {
    width: 85%;
    margin: 10px auto;
  }

  main .list span {
    font-size: 18px;
    margin-bottom: 12px;
  }

  main .list .restaurants {
    margin: 10px 0;
    font-size: 16px;
    line-height: 18px;
  }
  main .list hr:nth-of-type(1),
  main .list hr:nth-of-type(3) {
    display: none;
  }

  main {
    padding-bottom: 30px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  main .header .price img {
    width: 150px;
  }

  main .list span {
    font-size: 12px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 380px) {
  main .header .price img {
    width: 110px;
  }

  main .list span {
    font-size: 10px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 300px) {
  main .header .price img {
    width: 110px;
  }

  main .list span {
    font-size: 8.5px;
    margin-bottom: 12px;
  }

  main .links a {
    font-size: 18px;
  }
}

/* KEYFRAMES */

@keyframes scaleUp {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
